@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,500;1,100;1,300;1,500&display=swap');

img[alt="www.000webhost.com"]{display:none;}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  margin: 0;
}

.slider {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.menu {
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  width: 98%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
}

.menu-main {
  list-style: none;
  float: right;
}
.menu-main li {
  display: inline-block;
}
.menu-main li:after {
  content: "|";
  color: #c4c4c4;
  display: inline-block;
  vertical-align: top;
}
.menu-main li:last-child:after {
  content: none;
}
.menu-main a {
  text-decoration: none;
  letter-spacing: 2px;
  position: relative;
  margin: 0 34px 0 30px;
  font-size: 17px;
  text-transform: uppercase;
  display: inline-block;
  transition: color 0.2s;
}
.menu-main a,
.menu-main a:visited {
  color: #cacaca;
}
.menu-main a.current,
.menu-main a:hover {
  color: #ffffff;
}
.menu-main a:before,
.menu-main a:after {
  content: "";
  position: absolute;
  height: 4px;
  top: auto;
  right: 50%;
  bottom: -5px;
  left: 50%;
  background: #ffffff;
  transition: 0.8s;
}
.menu-main a:hover:before,
.menu-main .current:before {
  left: 0;
}
.menu-main a:hover:after,
.menu-main .current:after {
  right: 0;
}
@media (max-width: 550px) {
  .menu-main {
    padding-top: 0;
  }
  .menu-main li {
    display: block;
  }
  .menu-main li:after {
    content: none;
  }
  .menu-main a {
    padding: 25px 0 20px;
    margin: 0 30px;
  }
}

a.button7 {
  font-weight: 300;
  font-size: 16pt;
  color: white;
  text-decoration: none;
  padding: 0.8em 1em calc(0.8em + 3px);
  border-radius: 3px;
  background: rgb(0, 147, 103);
  box-shadow: 0 -3px rgb(1, 110, 87) inset;
  transition: 0.2s;
  margin: auto;
  margin-top: 20px;
}
a.button7:hover {
  background: rgb(0, 166, 110);
}
a.button7:active {
  background: rgb(0, 53, 87);
  box-shadow: 0 3px rgb(0, 53, 87) inset;
}

div.version {
    margin: 20px;
    padding: 20px;
    background-color: rgb(7, 120, 154);
    box-shadow: 0px 1px 5px #999;
    color: white;
    display: flex;
}
div.version #version h2 {
    margin: 0;
}
div.version #version time {
    margin-bottom: 0;
}
div.version #changelog {
}
div.version #changelog p {
    margin: 0;
    font-size: 16pt;
}

div.version a {
    margin: auto;
    margin-right: 20px;
}

hr {
    margin-left: 20px;
    margin-right: 20px;
    color: white;
    size: 1px;
}

a {
    text-decoration: none;
    color: black;
}

.news {
    margin: 20px;
    padding: 20px;
    box-shadow: 2px 2px 10px #999;
    display: flex;
}
.news img {
    width: 150px;
    height: 150px;
    object-fit: contain;
}
.news div {
    margin-left: 20px;
}
.news div h2 {
    margin: 0;
}
.news div p {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow-y: hidden;
}

.head {
    text-align: center;
    font-size: 36pt;
    padding: 60px;
    color: white;
    font-weight: 100;
}

.post {
  padding: 20px;
  font-size: 14pt;
  display: grid;
}

.post a {
  text-decoration: underline;
}

.post p {
  text-indent: 20px;
  margin: 0;
}

b {
  font-weight: 500;
}

h1 {
  font-weight: 300;
}

h2 {
  font-weight: 300;
}

.img-card {
  box-shadow: 0px 0px 10px rgb(85, 85, 85);
  vertical-align: middle;
}