[submodule "glm"]
	path = source/LDYOM_R/thirdparty/glm
	url = https://github.com/g-truc/glm.git
[submodule "source/ImGuiLuaWrapper/cimgui"]
	path = source/ImGuiLuaWrapper/cimgui
	url = https://github.com/GeTechG/cimgui
