[submodule "sol2"]
	path = LDYOM2/thirdparty/sol2
	url = https://github.com/ThePhD/sol2.git
[submodule "ImGuizmo"]
	path = LDYOM2/thirdparty/ImGuizmo
	url = https://github.com/CedricGuillemet/ImGuizmo
[submodule "LuaJIT"]
	path = LDYOM2/thirdparty/LuaJIT
	url = https://github.com/GeTechG/LuaJIT
[submodule "ImNodeFlow"]
	path = LDYOM2/thirdparty/ImNodeFlow
	url = https://github.com/Fattorino/ImNodeFlow.git
