[submodule "sol2"]
	path = LDYOM2/thirdparty/sol2
	url = https://github.com/ThePhD/sol2.git
[submodule "ImGuizmo"]
	path = LDYOM2/thirdparty/ImGuizmo
	url = https://github.com/CedricGuillemet/ImGuizmo
[submodule "LuaJIT"]
	path = LDYOM2/thirdparty/LuaJIT
	url = https://github.com/GeTechG/LuaJIT
[submodule "ImNodeFlow"]
	path = LDYOM2/thirdparty/ImNodeFlow
	url = https://github.com/Fattorino/ImNodeFlow.git
[submodule "LDYOM2/modules/ImGuiLuaWrapper/cimgui"]
	path = LDYOM2/modules/ImGuiLuaWrapper/cimgui
	url = https://github.com/cimgui/cimgui
[submodule "LDYOM2/thirdparty/ImGuiNotify"]
	path = LDYOM2/thirdparty/ImGuiNotify
	url = https://github.com/TyomaVader/ImGuiNotify
	branch = Dev
